<!DOCTYPE HTML>
<html lang="pl">

<head>
	<title>Metcon space</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<link rel="apple-touch-icon" sizes="180x180" href="/favcons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favcons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favcons/favicon-16x16.png">
	<link rel="manifest" href="/favcons/site.webmanifest">
	<link rel="mask-icon" href="/favcons/safari-pinned-tab.svg" color="#374246">
	<link rel="shortcut icon" href="/favcons/favicon.ico">
	<meta name="msapplication-TileColor" content="#374246">
	<meta name="msapplication-config" content="/favcons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

</head>

<body class="is-preload" ng-app="app" ng-controller="mainController" ng-init="pageInit()">

	<!-- Header -->
	<header id="header">
		<img src="images/logotype-metcon-long-white.svg" height="55" style="max-width: 80vw; opacity: 0.9;"
			alt="Logotype" />
		<p>Create own space<br />
			to remember all your workouts</p>
	</header>

	<!-- Signup Form -->
	<h5 ng-if="state == 'create'">Create new space:</h5>
	<form id="signup-form">
		<input type="text" ng-model="spacename" name="spacename" placeholder="Space name" />
		<input type="button" ng-click="checkSpace()" value="Next" />
	</form>

	<form id="signup-form" ng-if="state == 'create'">
		<input type="password" ng-model="pass" name="pass" placeholder="Password" />
		<input type="submit" ng-click="checkSpace()" value="Create" />
	</form>

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>metconlovers.com</li>
		</ul>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/main.js"></script>
	<script src="assets/angular/angular.min.js"></script>
	<script src="assets/control.js"></script>
</body>

</html>